{% extends 'blog/base.html' %}
{% load static %}
{% load widget_tweaks  %}

{% block title %}about{% endblock title %}

{% block content %}


{% if sent %}
  <div class="container text-center mt-5">
    <h1>お問い合わせありがとうございます</h1>
  </div><!-- /.container text-center -->
{% else %}
<div class="container mt-4" >
  <div class="row justify-content-center pt-4">
    <div class="col-md-4 mt-4">
      <div class="card card-body bg-secondary text-dark" style="max-width: 25rem;">
        <h3 class="card-title py-2">
          &nbsp;plofile
        </h3><!-- /.card-title -->
        <p class="card-text mt-4" style="color:#191f1f">
          電子工学科卒<br>
          現在、情報科学専攻　修士1年<br><br>
          ソフトウェア開発と自然言語処理に興味がある。<br>
          車輪の再開発が好き

        </p><!-- /.card-text -->
        <img src="{% static 'img/leaf.jpg' %}" alt="leaf">
      </div><!-- /.card card-body -->
    </div><!-- /.col-5 -->
    
    <div class="col-md-4 mt-4">
      <div class="card bg-secondary text-dark" style="max-width: 25rem;">
        <img src="{% static 'img/pc.png' %}" alt="pc" class="card-img-top">
        <div class="crad-body text-center">
          <h4 class="card-title">
            SNS
          </h4><!-- /.card-title text-center -->
          <div class="col">
            <a href="https://twitter.com/shirousaGo" target="_brank">
              <img src="{% static 'img/twitter.svg' %}" alt="twitter" width="40" height="40" class="mx-3">
            </a>
            <a href="https://github.com/sirousagisan" target="_brank">
              <img src="{% static 'img/github.svg' %}" alt="github" height="37" width="37"class="mx-3">
            </a>
          </div><!-- /.col -->
        </div><!-- /.crad-body -->
      </div><!-- /.card -->
    </div><!-- /.col-4 -->

    <div class="col-md-4 mt-4">
      <div class="card card-body bg-secondary text-dark">
      <h1 class="mt-5">
        contact
      </h1><!-- /.mt-5 -->
      <form method="POST">
        {% for field in form %}

        <label for="{{ field.id_for_label}}" class="form-label mt-2">{{ field.label }} </label><br><!-- /.form-label -->
        {{ field|add_class:"form-control"}} <br>

        {% endfor %}
        {% csrf_token %}
        <div class="text-end ">
          <button class="btn btn-primary" type="submit" disabled>SNSまでお願いします</button>
        </div><!-- /.text-end -->
        
      </form>
    </div><!-- /.col align-self-center -->
      </div><!-- /.card card-body -->
      
  </div><!-- /.row -->


</div><!-- /.container -->


{% endif %}


{% endblock content %}