{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock title %}


{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8" >
      <h1 style="color: #00bfff">{{ post.title }}</h1>
      <p class="date" style="color:#ccd5db">
      Published {{ post.publish }} 
      </p>
      
      {{ post.body|markdown|truncatewords_html:30 }}
      
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->

<div class="container d-none d-sm-block">
  <div class="row">
    <div class="col">
      <h1>hello</h1>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container d-none d-sm-block -->

{% endblock content %}